html {
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* ==========================================================================
   Main Styling
   ========================================================================== */

   body{
   	color: #555;
   	height: inherit;
   	-webkit-transform-style: preserve-3d;
   	-moz-transform-style: preserve-3d;
   	transform-style: preserve-3d;
   	font-size: 16px;
   	font-weight: normal;
   	line-height: 1.4;
   }

   /*Main*/
   .main{
   	max-width: 400px;
   	margin: auto;
   	position: relative;
   	top: 50%;
   	transform: translateY(-50%);
   	padding: 20px;
   }

   .bar{
   	background: #5dd837;
   	position:absolute;
   	bottom: 0;
   	height: 20px;
   	left: 0;
   	right: 0;
   }

   h1{
   	color: #555;
   	font-weight: 800;
   	font-size: 36px;
   	margin: 0;
   	letter-spacing: -0.5px;
   }

   p{
   	margin:0;
   	padding:0;
   	color: #797979;
   	line-height: 1.6;
   }

   a{
   	color: #111111;
   	text-decoration: none;
   }

   a:hover{
   	color: #000000;
      text-decoration: underline;
   }

   .links{
   	font-size: 14px;
   	margin-top: 5px;
   }

   .links span{
   	color: #ddd;
   }











/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media only screen and (min-width: 35em) {

   }

   @media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

   }

   .clearfix:before,
   .clearfix:after {
   	content: " ";
   	display: table;
   }

   .clearfix:after {
   	clear: both;
   }

   .clearfix {
   	*zoom: 1;
   }